/* SECTION FOR THE MOST POPULAR PIZZAS */
.pizza-cards {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 100%;
    width: 100%;
}

/* CARD CONTAINER */
.card-container {
    position: relative;
    height: 450px;
    width: 350px;
    margin-bottom: 50px;
    margin-left: 25px;
    background: none;
    perspective: 2000px;
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.15));
}

.pizza-card {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    transform-style: preserve-3d;
    transition: 800ms ease;
}

.card-container .pizza-card.flipped {
    transform: rotateY(180deg);
}

.front-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
}

.back-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    transform: rotateY(180deg);
}

/*FRONT-BACK STYLING*/

.front-card,
.back-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-bottom: 40px;
    background-color: #e02026;
    color: rgb(241, 215, 166);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.10);
}

.h-wrapper h1 {
    font-size: 1.2rem;
}

.front-card img {
    position: relative;
    width: 300px;
    height: 250px;
    margin-bottom: 40px;
    object-fit: scale-down;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.3));
}

.front-card span,
.back-card span {
    position: relative;
    font-size: 1.2rem;
    font-weight: 600;
    color: #e02026;
    cursor: pointer;
    transition: 300ms;
}

.front-card span:hover,
.back-card span:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.15));
}

.detalii {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: 25px;
    margin-right: 25px;
}

.detalii .continut {
    color: #e02026;
    margin-bottom: 5px;
    font-size: 1.6rem;
}

.detalii p {
    margin-bottom: 75px;
    font-size: 1rem;
}

.price-container {
    display: flex;
    gap: 15px;
    font-size: 0.7rem;
}

.price-container .price {
    color: #e02026;
}

.back-card span {
    position: absolute;
    bottom: 30px;
}

/*MENU-HEADERS*/
.menu-header {
    position: relative;
    margin-top: 75px;
    margin-left: 25px;
}

.menu-header span {
    color: #e02026;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
}