* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    background-color: rgb(255, 255, 230);
}

#nav-bar {
    position: relative;
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    background-color: #e02026;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    z-index: 1;
}

#logo-spacer {
    width: 175px;
}

#logo {
    position: absolute;
    height: 150px;
    top: 0;
    border: 5px solid rgb(255, 255, 230);
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

button.nav-btn {
    border-style: none;
    background-color: #e02026;
    flex: 1;
    height: 100%;
    transition: 300ms;
    color: #f1d7a6;
    font-size: 1.2rem;
    font-weight: 550;
}

button.nav-btn:hover {
    background-color: #cd2127;
}